<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.rodorush.investmentwalletapp">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InvestmentWalletApp"
        tools:targetApi="31">
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.InvestmentWalletApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.CadastroAtivosActivity"
            android:exported="true"
            android:label="@string/cadastro_ativos_label"
            android:theme="@style/Theme.InvestmentWalletApp">
        </activity>

        <activity
            android:name=".ui.activities.CadastroCarteirasActivity"
            android:exported="true"
            android:label="@string/cadastro_carteiras_label"
            android:theme="@style/Theme.InvestmentWalletApp">
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
